.red {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 0px 10px;
}

.blue{
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 0px 10px;
}